@import url(https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Droid+Sans|Lato|Droid+Serif|Ubuntu|Bitter|Shadows+Into+Light|Ubuntu+Condensed|Raleway|Asap);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/*
   CSS Social Media Buttons by MediaLoot
   URL: http://medialoot.com/item/css-social-media-buttons
*/
@font-face {
    font-family: 'SocialGlyphs';
    src: url('../fonts/socialglyphs-webfont.eot');
    src: url('../fonts/socialglyphs-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialglyphs-webfont.woff') format('woff'),
         url('../fonts/socialglyphs-webfont.ttf') format('truetype'),
         url('../fonts/socialglyphs-webfont.svg#SocialGlyphsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2a2a2a;
    margin: 1.6em auto;
    padding: 0;
    width:17%;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color:#CCC;
  font-family: Ubuntu,Arial,serif;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 20px;
}

#videoPlayer, #videoPlayer_wrapper {
	box-shadow: #666666 10px 10px 10px;
  margin:auto;
}

.videoPlayerContainer{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h1{
	font-family: Ubuntu;
	text-shadow: #999999 2px 2px 2px;
	color: black;
	font-size: 36px;
	line-height: 42px;
}

.mainContainer{
  width: 100%;
  height: 100%;
}

.headerContainer{
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 30px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
  margin: auto;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
   /* -webkit-mask: -webkit-gradient(radial, 17 17, 123, 17 17, 138, from(rgb(0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.2)), to(rgb(0, 0, 0))); */
}

.flip-container, .front, .back {
	width: 400px;
	height: 136px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.fbWallContainer{
/*  background: url(../img/fbWallBg.png) no-repeat center top; */
  float: left;
  height: 450px;
  overflow: hidden;
/*  padding: 58px 10px 37px; */
  padding: 0px 10px 37px;
  width: 500px;
  margin-right:20px;
}

.vertical.flip-container {
	position: relative;
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
	transform-origin: 100% 68px; /* half of height */
}

.vertical.flip-container:hover .flipper {
	transform: rotateX(-180deg);
}

.btn{
  margin-top: 22px;
  float: right;
  font-family: 'Droid', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  box-shadow: none;
  border-width: 0px;
  background: #2A2A2A;
}

.btnFb{
  border-color: rgba(0, 0, 0, .35);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .9);
  background-clip: padding-box;
  border: 1px solid #999;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #333;
  cursor: pointer;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 5px 15px 5px;
  text-decoration: none;
  position: relative;
}

.btnFb:hover {
  background-color: rgba(255, 255, 255, .8);
  text-decoration:none;
  color: #333;
}

.fbCommentsContainer{
  background: url(../img/fbWallBg.png) no-repeat center top;
  float: left;
  height: 490px;
  padding: 57px 9px 0px;
  width: 500px;
  margin-right:20px; 
  overflow: auto;
}

.fb-comments{
  overflow: auto;
  height: 360px;
  width: 480px;
}

.pwrFbWall{
  overflow: auto;
  display: block;
}

#back-fb-container{
  
}

#front-fb-container{
  
}

.socialWidgetsSlider{
  
}

.twitterCommentsContainer{
  background: url(../img/twtWallBg.png) no-repeat center top;
  float: left;
  height: 450px;
  padding: 57px 9px 0px;
  width: 500px;
  margin-right:20px;
}

.twitter-timeline{
  overflow: auto;
  height: 360px;
  width: 480px;
}

.fbTxt{
    color: #fff;  
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;  
    font-size: 16px;  
    font-weight: bold;
    line-height: 18px;
    text-shadow: #fff 0px 0px 7px;
}

footer{
  margin: 50px 0px 50px 0px;
}

.footerLink{
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

#youtubePwrPlayer, 
 
.description{
	 margin: 25px auto 60px;
	 width: 800px;
	 height: 450px;
   box-shadow: #666666 10px 10px 10px;
}
	
.playlists .special{
   position: absolute;
   top: 50px;
   left: 50%;
   margin-left: 420px;
}

.playlists .ytv-list-header > a{
	 animation: pulse 2s infinite;
}

.playlists .ytv-list-header.ytv-playlist-open > a{
	 animation: none;
}

@keyframes pulse {
  0%   { background: rgba(255,255,255,0); }
  50%  { background: rgba(255,255,255,0.1); }
  100% { background: rgba(255,255,255,0); }
}

.playerTitle{
  font-size: 26px;
  line-height: 1.2;
  color: #333333;
  //text-shadow: #ffffff 2px 2px 2px;
  text-align: center;
}

/* ---- Image Gallery Customizations  ------- */
/*
.pgalbumthumb:nth-of-type(1)
{
    margin-left: 40px;
} 
*/
#pgalbums {
  max-width: 820px;
}
/*
.pgalbumthumb {
   width: 21% !important;
 
}
*/
#galleryinfo {
	text-align: center;
	padding: 20px;
}
.plusgallery{
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
 
}
/* ---- end of customizations ------- */

.photoGallery{
  margin-top: 10px;
  margin-bottom: 10px;
}

.morePhotosBtn{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.morePhotosBtn a{ 
  text-align: center;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
  display: inline-block;
	color: #222;
	letter-spacing: 1px;
	background-color: transparent;
  box-shadow: none;
	padding: .3em .5em .3em .4em;
	font-size: 15px;
	text-transform: uppercase;
  transition: all 0.3s ease-out 0.1s;
}

.morePhotosBtn a:hover {
	background-color: #38beea !important;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
}

.morePhotosBtn a span {
	color: #666;
	transition: color 0.3s ease-out;
  font-size: 18px;
  line-height: 18px;
}

.morePhotosBtn a:hover span {
	color: #fff;
}

.noFlashMsgContainer,.connectionProblemsMsgContainer{
  width: 768px;
  height: 432px;
  background-color: rgb(0, 0, 0);
  background-image: url('../img/bgDisconnected.gif');
  color: rgb(255, 255, 255);
  display: table;
  opacity: 1;
  box-shadow: #666666 10px 10px 10px;
  margin: auto;
}

.noFlashMsgContainer a img,.connectionProblemsMsgContainer a img{
  margin-bottom: 20px ;
  margin-top: 110px ;
}

.noFlashMsgContainer p,.connectionProblemsMsgContainer p{
  line-height: 30px ;
}

.recOverFbWall{
  width: 170px;
  left: -4px;
  height: 50px;
  background-color: rgb(59,89,152);
  z-index: 0;
  position: relative;
}

.fbWidgetContainer{
  width:100%;
  height: 450px;
}

.txtNuestroMuro{
  position: relative;
  bottom: 547px;
  left: 5px;
  z-index: 1;
}

#youtubePwrPlayer{
  background: url(../img/bgYoutubePlayer.jpg) no-repeat center center;
}

.ytv-list{
  background-color: #282828;
}

.pwr-fb-like-box{
  width: 490px;
  height: 375px;
/*  top: -71px; */
  z-index: 0;
/*  left: -9px; */
}


/* Power Social Media Buttons */
.socialMediaButtonsMainContainer{
  width: 100%; 
  height:150px;
  margin: 0px auto 150px;
}
.socialMediaButtonsContainer{
  width: 540px;
  height: 100px;
  margin: auto;
}
.socialMediaButtons{
  width: 540px;
	padding: 0px;
  margin-left:35px;
}
.socialMediaButtons a {
  text-decoration: none;
  color: white;
	float: left;
/*  margin: 0 30px 20px 0;
    zoom: 2;
*/
  margin: 22px 100px 0px 0px;
  transform: scale(2,2);
}
.socialMediaButtons a:link { opacity: 1; }
.socialMediaButtons a:hover { 
/* box-shadow: inset 0 0 0 250px rgba(255,255,255,.1); */
  box-shadow: #666666 0px 0px 10px;
}
.socialMediaButtons a:active { opacity: 0.8; }

.facebook {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';text-align: center;
	font-size:35px;
	line-height:1.2;
	text-indent: 10px;
	font-weight:regular;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width:44px;
	height:44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4f78b4;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -moz-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -o-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: linear-gradient(to top, #4974b0, #6e90c0);
}

.facebook:after {
	content: "A";
}

.twitter {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:33px;
	line-height:1.3;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4e9edc;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: -moz-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: -o-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: linear-gradient(to top, #4e9edc, #5daae6);
}

.twitter:after {
	content: "B";
}

.google {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size: 34px;
	line-height:1.2;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #da4935;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #da4935, #e15946);
	background-image: -moz-linear-gradient(bottom, #da4935, #e15946);
	background-image: -o-linear-gradient(bottom, #da4935, #e15946);
	background-image: linear-gradient(to top, #da4935, #e15946);
}

.google:after {
	content: "C";
}

.youtube {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:32px;
	line-height:1.3;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #c9322b;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #c9322b, #dc3f38);
	background-image: -moz-linear-gradient(bottom, #c9322b, #dc3f38);
	background-image: -o-linear-gradient(bottom, #c9322b, #dc3f38);
	background-image: linear-gradient(to top, #c9322b, #dc3f38);
}

.youtube:after {
	content: "H";
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}










